body {
    background-color: #141414;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
    overflow: auto;
    font-size: 16px;
    min-width: 350px;
}

main {
    margin: 3em auto 1em;
    height: 100%;
    width: 70%;
}

#logoContainer {
    margin: 20px;
    display: inline-block;
    text-align: center;
}

.logoLink:link,
.logoLink:visited,
.logoLink:hover,
.logoLink:active {
    color: inherit;
}

.logo {
    width: 75px;
}

.logoName {
    margin-top: -15px;
}

.logoTitleMid {
    color: #FD4E02;
}

.loading {
    position: absolute;
    overflow: none;
    width: 300px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.loadingNow {
    opacity: 1;
    height: 50px;
    transition: opacity 0.3s;
}

.loadingDone {
    transition: opacity 0.3s;
}

#searchBar {
    position: absolute;
    overflow: none;
    ;
    width: 300px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#searchBar.searchBar--To-Top {
    top: 7em;
    transition: top 0.8s;
}

#searchBarBar {
    width: 100%;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #5c5c5c;
    color: white;
    height: 1.5em;
    font-size: 1.3em;
    transition: border-color 1s;
}

#searchBarBar::placeholder {
    transition: color 0.5s;
}

#searchBarBar:focus::placeholder {
    color: #1f1e1e;
    transition: color 0.5s;
}

#searchBarBar:focus {
    outline: none;
    color: white;
    border-color: #FD4E02;
    transition: border-bottom 1s;
}

.searchBar__caption {
    margin: 10px 0 0 0;
    width: 100%;
    display: block;
    text-align: center;
}

#searchResults {
    height: auto;
    opacity: 0;
    transition: opacity 1s;
    overflow: auto;
}

#movieList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
}


.movie__item {
    flex-basis: 100px;
    flex-grow: 1;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: color, background, 0.8s;
}

.movie__item:hover {
    background: #252525;
    color: #FD4E02;
    transition: color, background, 0.8s;
}

.movie__item-image {
    height: 300px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px black;
}

.movie__title {
    margin: 20px 0 0 0;
    font-weight: bold;
    font-size: 1.1em;
}

#soundTrackContainer {
    opacity: 0;
    transition: opacity 1s;
    display: none;
}

#soundTrackInfoContainer {
    display: flex;
    padding: 20px 0 50px 0;
}

.moviePicture-image-picture {
    border-radius: 10px;
    width: 150px;
}

.moviePicture-image-name {
    text-align: center;
}

.youtubeVideoContainer {
    width: 100%;
    padding: 0px 0px 0 20px;
}

.youtubeVideoContainer iframe {
    width: 100%;
    height: 100%;
}

#soundTrackList {
    width: 100%;
}

.song__item {
    margin: 5px 0;
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    transition: color, background, ease-in-out 0.5s;
}

.trackLine {
    width: 90%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #252525
}

.song__item:last-child {
    border-bottom: none;
}

.song__item:hover {
    background: #252525;
    color: #FD4E02;
    transition: color, background, ease-in-out 0.5s;
}

.song__title {
    display: inline-block;
    align-self: flex-start;
    width: 80%
}

.song__length {
    display: inline-block;
    align-self: flex-end
}

#noSoundTrack {
    position: absolute;
    overflow: none;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {
    #moviePicture-image {
        display:none;
    }

    #soundTrackInfoContainer{
        padding-bottom:20px;
    }

    .youtubeVideoContainer{
        padding:0 0 0 0;
    }

    .youtubeVideoContainer iframe{ 
        height:300px
    }
}

@media only screen and (max-width: 350px) {
    .logoLink{
        display: block;
        text-align: center;
    }

    #searchBar{
        width:auto;
    }

    #moviePicture-image {
        display:none;
    }

    #soundTrackInfoContainer{
        padding-bottom:20px;
    }

    .youtubeVideoContainer{
        padding:0 0 0 0;
    }

    .youtubeVideoContainer iframe{ 
        height:150px
    }
}